

*{
    font-size: 14px;
}

.custom-header{
    background: #333333;
    border-bottom: 0.6px solid rgba(240, 240, 240, 0.20);
}

.custom-row{
    background: #202020;
}

::ng-deep{

    tbody{
        max-height: 100px;
    }

    .p-datatable .p-datatable-tbody > tr > td {
        border: none;
        border-bottom: 0.6px solid rgba(240, 240, 240, 0.2);
    }

}

.thumbnail{
    max-height: 60px;
    max-width: 60px;
}

.action-btn{
    background: none;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    
}

.icon-disable{
    color: #6c757d;
    cursor: not-allowed;
}


.live-block{
    position: relative;
    top: 12px;
}

.p-dialog{
    background-color: black;
}

.custom-confirm-dialog {
    background-color: #d31f1f;
    border: 2px solid #ccc;
    color: #333;
}

::ng-deep{
    .p-paginator {
        background: #000000;
        font-size: 10px;

    }

    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
        background: #202020;
        border-color: #202020;
        color: #ffffff;
    }

    .p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover, .p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover, .p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover, .p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
        background: #202020;
        border-color: transparent;
        color: #343a40;
    }

    .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
        background: #202020;
        border-color: transparent;
        color: #fff;
    }

    .p-link:focus {
        box-shadow: none;
    }
    
    .p-paginator .p-paginator-pages .p-paginator-page,
    .p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last  {
        background-color: transparent;
        border: 0 none;
        color: #6c757d;
        margin: 0.143rem;
        transition: box-shadow 0.2s;
        border-radius: 3px;
        height: 2.357rem;
        min-width: 2.357rem;
    }
}



::ng-deep{
    .p-dropdown {
        background: #202020;
        border: none; 
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        border-radius: 3px;
    }

    .p-inputtext {
        color: var(--white-color);
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
        background: #0f0f0f;
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight,
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
        color: #ffffff;
        background: #333333;
    }

    .p-dropdown-panel {
        background: #0f0f0f;
    }

    .p-paginator .p-dropdown {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        height: 2.357rem;
    }

    .p-inputtext{
        padding: .5rem;
    }


    .p-inputswitch {
        width: 3rem;
        height: 1.75rem;
    }


    .p-inputswitch .p-inputswitch-slider {
        background: #ced4da00;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        border-radius: 30px;
        border: 2px solid #fff;
        height: 12px;
        width: 25px;
    }

    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
        background: transparent;
        border: 2px solid var(--primary-color);
    }
    
    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:hover{
        background: transparent;
        border: 2px solid var(--primary-color);

    }

    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
        background: var(--primary-color);
    }

    
    
    .p-inputswitch .p-inputswitch-slider:before {
        background: #ffffff;
        left: -5px;
        width: 1rem;
        height: 1rem;
        margin-top: -8px;
        border-radius: 50%;
        transition-duration: .2s;
        box-shadow: none;
    }

    .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
        background: #ced4da00;
    }

   

   
}



// Cards Styling

.card{
    background: var(--pale-black-color);
    width: 250px;

}

.card-thumbnail{
    height: 200px;
    // width: 200px;
}

::ng-deep{
    .p-chip{
        background-color: #353434;
        font-size: 14px;
        border: 1px solid rgba(76, 73, 73, 0.405);
        height: 30px;
    }
}