.container{
    width: 50vw;
}


.hr_class {
    border: 0.8px solid rgba(240, 240, 240, 0.599);
}

.image-container{

    position: relative;
    height: 160px;
    width: 160px;

    img {
        height: 160px;
        aspect-ratio: auto 160 / 160;
        width: 160px;
    }
    
    .delete-button {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &:hover{
        img{
            filter: brightness(50%);
        }
    }
}

.song-bg{
    background: rgba(220, 247, 99, 0.18);
}


.input{

    background: rgb(15, 15, 15);
    border: 0.6px solid rgba(240, 240, 240, 0.3);
    border-radius: 2px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    padding-left: 10px !important;
    padding: 5px;
    width: 100%;


    &:focus{
        outline: 0px;
        background-color: #0F0F0F;
    }
}