.nav-container{
    min-height: calc(100vh - 90px);

}


.nav-buttons{
    background-color: var(--black-color);
    border: none;
    text-decoration: none;

    &:hover{
        span i{
            color: var(--active-text-color) ;
        }
        div{
            color: var(--active-text-color) ;
        }
    }

    div{
        font-size: 14px;
        font-weight: 600;
        line-height: 22px; 
        letter-spacing: 0.44px;
    }

    &:active{
        span i{
            color: var(--active-text-color) ;
        }
        div{
            color: var(--active-text-color) ;
        }
    }
}

.active{
    span i{
        color: var(--active-text-color) ;
    }
    div{
        color: var(--active-text-color) ;
    }
}