<div class="row">
    <div class="col-12" *ngFor="let song of songs">
      <div class="card p-3 mb-3">
        <div class="row-no-gutters">
          <div class="col-md-4">
            <img
              *ngIf="song.thumbnail !== null"
              src="{{ song.thumbnail }}"
              class="card-img card-thumbnail"
            />
            <img
              *ngIf="song.thumbnail === null" 
              src="../../../../../../../../../assets/images/default_poster.png" 
              class="card-img card-thumbnail"
            >
          </div>
          <div class="col-md-8">
            <div class="card-body">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>