<div class="display-1 text-center mb-4">Property Binding</div>
<div class="row gap-3 ms-3">
    <div class="card col-5 ">
        <div class="card-header">
            Basic
        </div>
        <div class="card-body">
            <div class="card-text ">
                <button
                    class="btn btn-primary"
                    [disabled]="disableStatus"
                >
                    Click Me
                </button>
                <p class="card-text">
                    Button is {{buttonStatus}}
                </p>
            </div>
            <div class="card-footer mt-4" >
                <code>
                  
                    [disabled]="disableStatus"
                    <span class="fw-bold text-dark">Button Status:</span> {{buttonStatus}}
                   
                </code>
            </div>
        </div>
    </div>
    
</div>